body {
    background-color: #47555F;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

p {
  color: #47555F;
}

h4 {
  color: #47555F;
}

nav .nav-wrapper {
    background-color: #C8923B;
    height: 110%;
}

.brand-logo.center {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

/* @media only screen and (max-width: 793px) {
  .brand-logo.center {
    font-size: 40px;
  }
} */

@media only screen and (max-width: 600px) {
  .brand-logo.center {
    font-size: 40px;
    padding-top: 10px;
  }
}

#home-main {
    /* height: 50vh; */
    background: whitesmoke;
    color: #333431;
    margin: 40px 0 20px 0;
    text-align: center;
    font-size: 20px;
}

.limit-photo-size {
  display: block;
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.hound {
  padding: 20px 0 0 0;
}

.btn-large {
    background-color: #C8923B;
    margin: 20px 0 0 0;
}

.btn-large:hover {
    background-color: rgb(148, 107, 42);
}

.clearfix {
    overflow: auto;
}

/* form styles */
/* label color */
.input-field label {
    color: #C8923B;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #C8923B !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #C8923B !important;
    box-shadow: 0 1px 0 0 #C8923B !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #47555F !important;
    box-shadow: 0 1px 0 0 #47555F !important;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid orange !important;
    box-shadow: 0 1px 0 0 orange !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #C8923B !important;
  }

  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #C8923B;
  }

  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #C8923B;
  }

  .question {
    border-bottom: 1px solid #C8923B;
    padding: 10px;
  }